@import "../../../public/scss/variables";
@import "../../../public/scss/mixin";

.sidebar,
.sidebar-backdrop,
.sidebar-toggle {
    z-index : 100;
}

// 侧边栏-显示
.sidebar_visible {
    &.sidebar-toggle {
        left             : px2rpx(520);
        top              : px2rpx(175);
        width            : px2rpx(98);
        height           : px2rpx(84);
        background-image : url(#{$web-img-dir}/home/sidebar_toggle_hover.png);
    }
    &.sidebar {
        left : 0;
    }
    &.sidebar-backdrop {
        display : block;
    }
}
// 侧边栏-隐藏
.sidebar_hidden {
    &.sidebar-toggle {
        left             : px2rpx(0);
        top              : px2rpx(176);
        width            : px2rpx(106);
        height           : px2rpx(96);
        background-image : url(#{$web-img-dir}/home/sidebar_toggle.png);
    }
    &.sidebar {
        left : -100%;
    }
    &.sidebar-backdrop {
        display : none;
    }
}

// 侧滑开关按钮
.sidebar-toggle {
    position        : absolute;
    background      : no-repeat 0 0;
    background-size : 100% 100%;

    transition      : all .3s ease-in;
}

// 遮罩层
.sidebar-backdrop {
    position         : absolute;
    top              : 0;
    left             : 0;
    height           : 100%;
    width            : 100%;
    background-color : rgba(0, 0, 0, .7);
}

.sidebar {
    position        : absolute;
    top             : 0;
    height          : 100%;
    width           : px2rpx(520);

    background      : url(#{$web-img-dir}/home/sidebar_bg.png) repeat-y 0 0;
    background-size : 100% auto;

    transition      : all .2s ease-in;

}

.sidebar__header {
    padding-top     : px2rpx(142);
    background      : url(#{$web-img-dir}/home/sidebar_header_bg.png) no-repeat 0 0;
    background-size : 100% auto;
}

.user-info {
    position        : relative;
    width           : 100%;
    height          : px2rpx(123);
    background      : url(#{$web-img-dir}/home/sidebar_userinfo_bg.png) no-repeat right 0;
    background-size : px2rpx(491) px2rpx(123);
}

.user-info__avatar {
    z-index  : -1;
    position : absolute;
    top      : px2rpx(17);
    left     : px2rpx(48);
    width    : px2rpx(80);
    height   : px2rpx(80);
    overflow : hidden;
}

.avatar__image {
    width  : 100%;
    height : 100%;
}

.user-info__cont {
    padding     : px2rpx(26) 0 0 px2rpx(156);
    line-height : 1;
    color       : #ad5210;
}

.cont__name {
    font-size : px2rpx(36);
}

.cont__id {
    margin-top : px2rpx(10);
    font-size  : px2rpx(24);
    .copy {
        position        : absolute;
        top             : px2rpx(68);
        left            : px2rpx(340);
        width           : px2rpx(30);
        height          : px2rpx(30);
        background      : url(#{$web-img-dir}/home/sidebar_copy.png) no-repeat 0 0;
        background-size : 100% 100%;
    }
}

.user-info__edit {
    position       : absolute;
    top            : px2rpx(32);
    right          : px2rpx(50);
    width          : px2rpx(48);
    padding-bottom : px2rpx(2);
    line-height    : 1;
    color          : #d9940b;
    font-size      : px2rpx(24);
    border-bottom  : solid px2rpx(2);
}

.setting {
    display        : flex;
    flex-direction : row;
    margin         : px2rpx(20) 0 0 px2rpx(78);
    color          : #fefefe;
    font-size      : px2rpx(24);
}

.setting__item {
    width           : px2rpx(158);
    height          : px2rpx(48);
    padding-left    : px2rpx(24);
    line-height     : px2rpx(46);
    text-align      : center;
    background      : no-repeat 0 0;
    background-size : 100% 100%;

    box-sizing      : border-box;
}

.setting-constellation {
    background-image: url(#{$web-img-dir}/home/sidebar_constellation_bg.png);
}

.setting-location {
    margin-left      : px2rpx(50);
    background-image : url(#{$web-img-dir}/home/sidebar_location_bg.png);
}

.menu {
    display     : flex;
    flex-wrap   : wrap;
    width       : px2rpx(480);
    margin      : px2rpx(98) 0 0 px2rpx(52);
    color       : #ffffff;
    font-size   : px2rpx(24);
    text-shadow : rgba(2, 104, 128, .5) px2rpx(2) 0 0, rgba(2, 104, 128, .5) 0 px2rpx(2) 0, rgba(2, 104, 128, .5) px2rpx(-2) 0 0, rgba(2, 104, 128, .5) 0 px2rpx(-1) 0;
}

.menu__item {
    width           : px2rpx(100);
    height          : px2rpx(40);
    padding-top     : px2rpx(100);
    margin          : 0 px2rpx(57) px2rpx(100) 0;
    text-align      : center;
    line-height     : px2rpx(40);
    background      : no-repeat 0 0;
    background-size : 100% auto;
}

.divider__item {
    position        : absolute;
    left            : px2rpx(0);
    width           : 100%;
    height          : px2rpx(20);
    background      : url(#{$web-img-dir}/home/sidebar_divider.png) no-repeat 0 0;
    background-size : 100% 100%;
}

.divider-row-1th {
    top : px2rpx(360);
}

.divider-row-2th {
    top : px2rpx(580);
}

.divider-row-3th {
    top : px2rpx(820);
}

