@import "../../public/scss/variables";

.icon-map {
    background-image: url(#{$web-img-dir}/home/icon_map.png);
}
.icon-weather-sunny {
    background-image: url(#{$web-img-dir}/home/icon_weather_sunny.png);
}
.icon-indicator-reward {
    background-image: url(#{$web-img-dir}/home/icon_indicator_reward.png);
}
.icon-indicator-habit {
    background-image: url(#{$web-img-dir}/home/icon_indicator_habit.png);
}
.icon-indicator-road {
    background-image: url(#{$web-img-dir}/home/icon_indicator_road.png);
}
.icon-indicator-plan {
    background-image: url(#{$web-img-dir}/home/icon_indicator_plan.png);
}

.icon-match {
    background-image: url(#{$web-img-dir}/home/icon_match.png);
}
.icon-reward {
    background-image: url(#{$web-img-dir}/home/icon_reward.png);
}
.icon-gym {
    background-image: url(#{$web-img-dir}/home/icon_gym.png);
}

.icon-toggle {
    background-image: url(#{$web-img-dir}/home/icon_toggle.png);
}
.icon-temperature-sunny {
    background-image: url(#{$web-img-dir}/home/icon_temperature_sunny.png);
}
.icon-fruit-apple {
    background-image: url(#{$web-img-dir}/home/icon_fruit_apple.png);
}
.icon-progress-footer {
    background-image: url(#{$web-img-dir}/home/icon_progress_footer.png);
}
.icon-broadcast-horn {
    background-image: url(#{$web-img-dir}/home/icon_broadcast_horn.png);
}