@import "../../public/scss/variables";

.icon_flag {
    background-image: url(#{$web-img-dir}/competition/list/icon_flag.png);
}
.icon_flag_hover {
    background-image: url(#{$web-img-dir}/competition/list/icon_flag_hover.png);
}
.icon_flame {
    background-image: url(#{$web-img-dir}/competition/list/icon_flame.png);
}
.icon_flame_hover {
    background-image: url(#{$web-img-dir}/competition/list/icon_flame_hover.png);
}
.icon_hourglass {
    background-image: url(#{$web-img-dir}/competition/list/icon_hourglass.png);
}
.icon_hourglass_hover {
    background-image: url(#{$web-img-dir}/competition/list/icon_hourglass_hover.png);
}
.icon_clock_gray {
    background-image: url(#{$web-img-dir}/competition/list/icon_clock_gray.png);
}