@import "../../public/scss/variables";
@import "../../public/scss/mixin";
@import "recommend";
@import "list";

.page {
    background-color: #f2f5f7;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.nav__item {
    box-sizing: border-box;
    width: 50%;
    height : px2rpx(100);
    font-size: px2rpx(36);
    color: #999999;
    line-height: px2rpx(100);
    text-align: center;
    border-bottom: solid px2rpx(4) #fff;
}
.nav__item_hover {
    color: #ffaa00;
    border-bottom-color: #ffaa00;
}
