@import "../../public/scss/mixin";

.linear-gradient {
    background: linear-gradient(#90e9a8, #d8f4c1);
}

.page {
    @extend .linear-gradient;
}


.page-header {
    display: flex;
    flex-direction: row;
    height: px2rpx(136);
    font-size: px2rpx(26);
    color: #aaaaaa;
    line-height: 1;
    text-align: center;
    background-color: #f2f5f7;
    box-sizing: border-box;
    .num {
        line-height: px2rpx(80);
        font-size: px2rpx(48);
        color: #5edc99;
    }
}


.page-body {
    height: px2rpx(534);
    background-color: #f2f5f7;
}
.page-footer {
    height: px2rpx(536);
    @extend .linear-gradient;
}

.maxsteps-oneday,
.total-sign {
    width: 50%;
    border: solid px2rpx(4) #f2f5f7;
    background-color: #fff;
    box-sizing: border-box;
}
.maxsteps-oneday {

}
.maxsteps-oneday-num {

}
.total-sign {
    border-left: none 0;
}

.today-steps,
.today-energy {
    margin: 0 px2rpx(4);
    background-color: #fff;
}
.today-steps {
    box-sizing: border-box;
    height: 80%;
    padding-top: px2rpx(134);
    text-align: center;
    line-height: 1;
    color: #fff;
    background: no-repeat center center #fff;
    background-size: px2rpx(340) px2rpx(328);
    @extend .bg-egg;
}
.today-steps-title {
    font-size: px2rpx(26);
}
.today-steps-num {
    font-size: px2rpx(100);
    line-height: px2rpx(140);
}
.today-steps-msg {
    font-size: px2rpx(26);
    color: #e18921;
}
.today-energy {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding-top: px2rpx(28);
    font-size: px2rpx(26);
    line-height: 1;
    color: #aaaaaa;
    .num {
        margin-left: px2rpx(16);
        font-size: px2rpx(48);
        color: #5edc99;
        vertical-align: px2rpx(-3);
    }
}
.today-energy-distance,
.today-energy-torch {
    box-sizing: border-box;
    width: px2rpx(250);
    height: px2rpx(40);
    padding-left: px2rpx(42);
    background: no-repeat left bottom;
    background-size: auto 100%;
}
.today-energy-distance {
    margin-left: px2rpx(100);
    @extend .icon-distance;
}
.today-energy-torch {
    margin-left: px2rpx(112);
    @extend .icon-torch;
}

.chart {

}

.chart-heading {
    position: relative;
    margin: 0 px2rpx(26);
    height: px2rpx(72);
    border-bottom: dashed px2rpx(1) #cbf5d5;
}
.date-switcher {
    position: absolute;
    top: px2rpx(17);
    left: 0;
    box-sizing: border-box;
    width: px2rpx(78);
    height: px2rpx(40);
    padding: 0 px2rpx(12);
    color: #fff;
    font-size: px2rpx(22);
    line-height: px2rpx(36);
    border: solid px2rpx(2) rgba(255,255,255,0.84);
    border-radius: px2rpx(40);
    background-color: #7bcb91;
    &::after {
        content: "";
        position: absolute;
        top: px2rpx(2);
        width: px2rpx(32);
        height: px2rpx(32);
        border-radius: 100%;
        background-color: #fff;
    }
}
.date-switcher-week {
    text-align: right;
    &::after {
        left: px2rpx(2);
    }
}
.date-switcher-month {
    text-align: left;
    &::after {
        right: px2rpx(2);
    }
}
.steps-toplimit {
    position: absolute;
    right: px2rpx(0);
    top: px2rpx(44);
    color: #3c6146;
    line-height: 1;
    font-size: px2rpx(24);

}
.chart-body {
    width: 100%;
    height: px2rpx(440);
}

.chart-line {
    //height: px2rpx(440);
    //transform: scale(0.5)
}

@import "stepstatistics_images";
