@import "../../public/scss/variables";



.icon-change-skin {
    background-image : url(#{$web-img-dir}/share/icon_change_skin.png)
}
.icon-friends {
    background-image: url(#{$web-img-dir}/share/icon_friends.png)
}
.icon-person {
    background-image: url(#{$web-img-dir}/share/icon_person.png)
}
.icon-qq {
    background-image: url(#{$web-img-dir}/share/icon_qq.png)
}
.icon-qzone {
    background-image: url(#{$web-img-dir}/share/icon_qzone.png)
}
.icon-shoe {
    background-image: url(#{$web-img-dir}/share/icon_shoe.png)
}
.icon-weibo {
    background-image: url(#{$web-img-dir}/share/icon_weibo.png)
}
.icon-wexin {
    background-image: url(#{$web-img-dir}/share/icon_wexin.png)
}
.skin-night {
    background-image: url(#{$web-img-dir}/share/skin_night.jpg)
}
